{% extends "base.html" %} {% block title %}CROPSENSE{% endblock %} {% block
content %}

<div
  class="mt-3 container d-flex flex-column justify-content-center align-items-center text-center"
>
  <!-- Title -->
  <h1 class="mb-4">CROPSENSE</h1>

  <!-- Description -->
  <p class="subtitle homepage_card">
    This project is based on scientific research demonstrating that
    multispectral and thermal imagery, combined with decision-tree
    classification, can effectively detect plant stress and disease. Building on
    these findings, this platform represents the transition from research to a
    practical, user-oriented solution.

    <br /><br />

    CropSense provides a centralized web application where users can access
    project documentation, explore research results, and run the full processing
    pipeline. The system is designed to support image acquisition, storage, and
    automated analysis, enabling the detection of plant diseases within a
    single, intuitive interface.
  </p>

  <!-- Team Working Photos -->
  <div class="row mt-1 g-4 justify-content-center">

    <div class="col-md-5">
      <div class="card section-card p-2">
        <img src="/static/assets/images/homepage/homepage1.jpg"
             class="img-fluid rounded mx-auto d-block homepage-img"
             alt="Cropsense picture">
      </div>
    </div>

    <div class="col-md-5">
      <div class="card section-card p-2">
        <img src="/static/assets/images/homepage/homepage2.jpg"
             class="img-fluid rounded mx-auto d-block homepage-img"
             alt="Cropsense picture 2">
      </div>
    </div>

  </div>
</div>
{% endblock %}
