{% extends "base.html" %} {% block title %}Project Resources{% endblock %} {%
block content %}
<div class="container py-5">
    <div class="text-center mb-5">
        <h1>Project Resources</h1>
        <p class="subtitle">Explore documentation, reports, and deliverables</p>
    </div>

    <!-- Sections -->
    <div class="row g-3">

        <!-- Report -->
        <div class="col-md-6 col-lg-4">
            <div class="card section-card p-4 text-center h-100">
                <h5>Report</h5>
                <p class="subtitle">Research findings and analysis</p>
                <!-- Open local PDF in new tab -->
                <a
                        href="static/assets/resources/Report.pdf"
                        target="_blank"
                        class="btn btn-accent btn-custom mt-auto"
                >
                    View
                </a>
            </div>
        </div>

        <!-- Final Presentation -->
        <div class="col-md-6 col-lg-4">
            <div class="card section-card p-4 text-center h-100">
                <h5>Final Presentation</h5>
                <p class="subtitle">Slides and visual summary</p>
                <!-- Open local PDF in new tab -->
                <a
                        href="static/assets/resources/CropSense - Phase 2 - Presentation.pdf"
                        target="_blank"
                        class="btn btn-accent btn-custom mt-auto"
                >
                    View
                </a>
            </div>
        </div>

        <!-- Code -->
        <div class="col-md-6 col-lg-4">
            <div class="card section-card p-4 text-center h-100">
                <h5>Code</h5>
                <p class="subtitle">Download the code of the web application and the pipeline</p>
                <!-- Open in new tab + security best practice -->
                <a
                        href="https://github.com/AlexandraMol/cropsense-web-app"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="btn btn-accent btn-custom mt-auto"
                >View</a
                >
            </div>
        </div>
    </div>
</div>
{% endblock %}
